<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
<add name="SysproCompanyTEntities" connectionString="metadata=res://*/DAL.SysproModel.csdl|res://*/DAL.SysproModel.ssdl|res://*/DAL.SysproModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= WIN-AT-SQL01\SYSPRO;initial catalog=SysproCompanyN;persist security info=True;user id=extreme;password=reject!9UPillowsusPiciOn;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="AussieTravellerEntities" connectionString="metadata=res://*/DAL.AussieTraveller.csdl|res://*/DAL.AussieTraveller.ssdl|res://*/DAL.AussieTraveller.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= WIN-AT-SQL01\SYSPRO;initial catalog=AussieTravellerCompanyN;integrated security=false;user id=extreme;password=reject!9UPillowsusPiciOn;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	
	<!--<add name="SysproCompanyTEntities" connectionString="metadata=res://*/DAL.SysproModel.csdl|res://*/DAL.SysproModel.ssdl|res://*/DAL.SysproModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= WIN-AT-SQL01\SYSPRO;initial catalog=SysproCompanyZ;persist security info=True;user id=extreme;password=reject!9UPillowsusPiciOn;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="AussieTravellerEntities" connectionString="metadata=res://*/DAL.AussieTraveller.csdl|res://*/DAL.AussieTraveller.ssdl|res://*/DAL.AussieTraveller.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= WIN-AT-SQL01\SYSPRO;initial catalog=AussieTravellerCompanyZ;integrated security=false;user id=extreme;password=reject!9UPillowsusPiciOn;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	<!--<add name="SysproCompanyTEntities" connectionString="metadata=res://*/DAL.SysproModel.csdl|res://*/DAL.SysproModel.ssdl|res://*/DAL.SysproModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XBSVM01;initial catalog=SysproCompanyT;persist security info=True;user id=sa;password=P@$$1n4xbs;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
			<add name="AussieTravellerEntities" connectionString="metadata=res://*/DAL.AussieTraveller.csdl|res://*/DAL.AussieTraveller.ssdl|res://*/DAL.AussieTraveller.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XBSVM01;initial catalog=AussieTraveller;integrated security=False;user id=sa;password=P@$$1n4xbs;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	</connectionStrings>
		</configuration> 

	 